<ion-header>
  <ion-navbar>
    <ion-title>Questions</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of items" (click)="showAnswer(item)" icon-start>
    <ion-card-header text-wrap>
      <div>{{item.questionNumber}}. {{item.category}} ({{item.type}}) </div>
      <div style="margin-top:5px">{{ item.question }}</div>

    </ion-card-header>

    <ion-card-content ion-item >
        <div *ngIf="item.multipleChoice" >
          <div *ngFor="let choice of item.choicesArray" style="margin-bottom:3px">
            {{choice.option}}) {{choice.value}}
          </div>
        </div>
    </ion-card-content>

  </ion-card>
</ion-content>

